*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
header{
    background-color: #124C31;
    padding: 10px;
    width: 100%;
    position: relative;
}


.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Logo{
    width: 16%;
    margin-left: 10px;   
}
.menu{
    color:white;
    display: block;
    height: 100%;
    padding-top: 70%;
    font-size: large;
}
.nav_container{
    display: none;
    position: absolute;
    top:0px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #124C31;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_nav_container{
    color: white;
    
}
.nav_item{
    margin-top: 30px;
    list-style: none;
    font-weight: 100;
    font-size: 22px;
    line-height: 14px;
    padding-left: 10px;
}
.menu_cancel{
    display: block;
    text-align: right;
    font-size: 24px;
    font-weight: lighter;
    
}






.service{
    width: auto;
    background-image: url("pics/henry-co--odUkx8C2gg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.srv-container{
    width: auto;
    height: 626px;
}
/* service header text  */
.srv-head{
    width: 800px;
    height: 102px;
    margin: 0px auto;
    font-weight: 700px;
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 43px;
    color: rgb(116, 95, 61);
}
/* service img container */
.srv-img-cont{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 465px;
    padding-top: 50px;
}
.srv-imgs{
    width: 260px;
    height: 365px;
    display: block;
    margin: 25px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 8px 10px 0 gray;
}
.srv-img{
    width: 260px;
    height: 300px;
    border-radius: 12px 12px 0 0;
}
.srv-img-txt{
    width: 260px;
    height: 65px;
    padding: 20px;
    text-align: center;
}
.ff{
    width: 220px;
    height: 25px;
}
/* our latest project */
.project{
    width: 100%;
}
.prjt-container-1{
    width: 100%;
    padding: 80px;
}
.prjt-container-2{
    width: 90%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}
.prjt-header{
    width: 860px;
    height: 134px;
    margin: 50px auto;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}
.prjt-h1{
    width: 860px;
    height: 89px;
    color: rgb(116, 95, 61);
    font-size: 73px;
    font-weight: 700px;
}
.prjt-h2{
    width: 860px;
    height: 45px;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 20px;
    color: rgb(116, 95, 61);
}
.prjt-img-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.prjt-lg-img{
    width: 60%;
    margin: 10px;
    height: auto;
}
.prjt-sm-img{
    width: 30%;
    margin: 10px;
}
.lg-img{
    width: 100%;
    height: auto;
    max-height: 380px;
}
.sm-img{
    width: 100%;
    height: auto;
    max-height: 380px;
}





@media (min-width: 481px) and (max-width: 768px){
    header{
        padding: 20px;
    }

    .Logo {
        width: 23%;
        margin-left: 10px;
    }
        .menu {
            color: white;
            display: block;
            height: 100%;
            padding-top: 70%;
            font-size: 26px;
        }
   .nav_item {
       margin-top: 40px;
       list-style: none;
       font-weight: 100;
       font-size: 26px;
       line-height: 18px;
       padding-left: 19px;
   }

   .menu_cancel {
       display: block;
       text-align: right;
       font-size: 28px;
       font-weight: lighter;

   }
   
   
    .prjt-lg-img{
        width: 90%;
        height: 25%;
    }
    .prjt-sm-img{
        width: 40%;
        height: 25%;
    }
}


@media (min-width: 768px) {
    header {
            padding: 10px 40px;
        }
    
        .Logo {
            width: 27%;
            margin-left: 20px;
        }
    
        .menu {
         display: none;
        }
    .nav_container {
        display: block;
        position: static;
        height: fit-content;
        width: 60%;
        padding:0px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .main_nav_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
        .menu_cancel {
            display: none;
        }

        .nav_item {
            margin-top: 30px;
            list-style: none;
            font-weight:300;
            font-size: 22px;
            line-height: 16px;
            padding-left: 0px;
        }
    .srv-container {
        width: auto;
        height: 1040px;
    }

    .srv-head {
        width: auto;
        height: 52px;
    }

    .srv-img-cont {
        width: 800px;
        height: 878px;
        margin: 0 auto;
    }
}